# https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: build for commit

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        # https://github.com/actions/checkout
        uses: actions/checkout@v2

      - name: Setup node
        # https://github.com/actions/setup-node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install
        run: |
          npm ci

      - name: Build
        run: |
          npm run build

