name: build for commit

on:
  push:
    tags-ignore:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        # https://github.com/actions/checkout
        uses: actions/checkout@v2

      - name: Setup node
        # https://github.com/actions/setup-node
        uses: actions/setup-node@v1
        with:
          node-version: 13.x

      - name: Install
        run: |
          npm ci

      - name: Build
        run: |
          npm run build

